In [1]:
import pandas as pd

import matplotlib.pyplot as plt

In [2]:
df = pd.DataFrame({"Name":["lijo antony","Swibiya T B","Antony Chacko"],
                   "Age":[24,23,59],
                   "Sex":["male","female","male"]})
df

            Name  Age     Sex
0    lijo antony   24    male
1    Swibiya T B   23  female
2  Antony Chacko   59    male

In [3]:
df["Age"]

0    24
1    23
2    59
Name: Age, dtype: int64

In [5]:
ages = pd.Series([22,44,53],name="Age")
ages

0    22
1    44
2    53
Name: Age, dtype: int64

In [8]:
df["Age"].max()

59

In [9]:
df["Age"].min()

23

In [11]:
df.describe()

             Age
count   3.000000
mean   35.333333
std    20.502032
min    23.000000
25%    23.500000
50%    24.000000
75%    41.500000
max    59.000000